#table-view {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25vh;
    margin: 0;
    padding: 0;
    height: 100%;
}

.table {
    background-color: black;
}

.day {
    color: white;
    font-size: 110%;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    transform: translateY(+0.5em);
}

.time {
    color: white;
    font-size: 120%;
    font-weight: bold;
    margin-right: 5px;
    padding: 8px;
    text-align: right;
    transform: translateY(-1em);
}

.slot-container {
    border: 1pt solid black;
    border-radius: 0.25em;
    width: 100%;
}

.slot {
    border-radius: 0.25em;
    padding: 0.5em 0.4em;
    height: 100%;
}

.conflict-container {
    border-left: 0.5em solid #b3acac;
    border-right: 0.5em solid #b3acac;
    width:       100%;
    padding: 0;
}

.info {
    font-size: 150%;
    text-align: center;
}

.slot-title {
    color: black;
    font-weight: bold;
}

.room {
    color: #111;
    font-size: 90%;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.desc {
    font-size: 80%;
    text-align: left;
    color: #111;
    padding: 0.25em;
}

.border-top {
    margin-top: 0.25em;
    border-top: 1px solid #645;
}

.course-type {
    font-size: 95%;
}

.va-middle {
    //transform: translateY(+5%);
}

/*Changing Background Colour
.table {background-color: #201050;}
.slot {border: 1pt solid #201050;}
*/